form{
    background-color: rgb(120, 145, 214);
    margin: 8em;


}
h2{
    background-color: rgb(204, 167, 18);
    width: 100%;
    padding: 12px 12px;
    margin: 8px 8px;
    box-sizing: border-box;
}